<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link href="{{ get_url(path="assets/css/style.css") }}" rel="stylesheet" />
    {%- if config.extra.extra_styles -%}
    {%- for extra_style in config.extra.extra_styles %}
    <link href="{{ get_url(path=extra_style) | safe }}" rel="stylesheet" />
    {%- endfor -%}
    {%- endif -%}
    {%- if page or section -%}
    {%- set current = section | default(value=page) -%}
    {%- if current.extra["extra_styles"] -%}
    {%- for extra_style in current.extra["extra_styles"] %}
    <link href="{{ get_url(path=extra_style) | safe }}" rel="stylesheet" />
    {%- endfor -%}
    {%- endif -%}
    {%- endif -%}
    {%- block extra_styles %}
    {%- endblock extra_styles %}
</head>

<body>
    <a href="#main-content">Skip to main content</a>
    <header class="nav-header">
        <nav class="crumbs">
            <ol>
                {% block breadcrumb_header -%}
                {%- set current = section | default(value=page) -%}
                {%- for ancestor in current.ancestors -%}
                {%- set _section = get_section(path=ancestor) -%}
                <li class="crumb"><a href="{{ _section.permalink | safe}}">{% if loop.first %}~{% else %}{{ _section.title }}{% endif %}</a></li>
                {% endfor -%}
                <li class="crumb">{% if current.path == "/" %}~{% else %}{{ current.title }}{% endif %}</li>
                {%- endblock breadcrumb_header %}
            </ol>
        </nav>
    </header>
    <main id="main-content">
        {% block content %}{% endblock content %}
    </main>
    <footer class="page-footer">
        {% block footer %}{% block copyright %}<small>© {{ now() | date(format="%Y") }} {{ config.author }}.</small>{% endblock copyright %}{% endblock footer %}
    </footer>
</body>

</html>