{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ super() }}{% endblock title %}

{% block content %}
<article>
    <header>
        {%- block page_header %}
        <h1>{{ page.title }}</h1>
        {%- if page.date %}
        <p class="page-header__datetime"><time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date() }}</time></p>
        {%- endif %}
        {%- endblock page_header %}
    </header>
    {{ page.content | safe }}
    {%- block page_footer %}
    {%- endblock page_footer %}
</article>
{% endblock content %}
