{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block title %}{{ term.name }} - {{ super() }}{% endblock title %}
{% block breadcrumb_header %}
{% set home = get_section(path="_index.md") %}
{% set _taxonomy = get_taxonomy(kind=taxonomy.name) %}
<li class="crumb"><a href="{{ home.permalink | safe}}">~</a></li>
<li class="crumb"><a href="{{_taxonomy.permalink | safe}}">{{ taxonomy.name }}</a></li>
<li class="crumb">{{ term.name }}</li>
{% endblock breadcrumb_header %}

{% block content %}
<header>
    {%- block page_header -%}
    <h1>{{ term.name }}</h1>
    {%- endblock page_header -%}
</header>
<nav>
    <ol class="posts-list">
        {{ macros::list_section_pages(section=term, number_pages=0) }}
    </ol>
</nav>
{% endblock content %}
